rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // חוקי הגנה עבור השאילתות שהושלמו
    match /completed_questions/{documentId} {
      // מותר לאורחים לקרוא את השאילתות של אוויה, או למשתמש מחובר לקרוא את של עצמו
      allow read: if resource.data.userId == 'vvYYxgC6UMO3uUPbt2qvpDJx9f92' || 
                  (request.auth != null && request.auth.uid == resource.data.userId);
      
      // יצירה ועדכון מותרים רק למשתמש עצמו עבור הנתונים שלו
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // חוקי הגנה עבור פרופילי משתמשים
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
